.todo_list_title {
    text-align: center;
    font-weight: 700;
    font-size: 1.0rem;
    text-transform: uppercase;
    color: black;
    margin: 0;
    a {
     
     text-decoration: none;
     color: white;
     transition: all .4s ease-in-out;
     &:hover {
      opacity: 0.4;
     }
    }
   }